<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="./Public/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">

    <title>Sender Server</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">

        <a class="navbar-brand" href="/home">
          <img src="./Public/images/Sharikny.png" alt="Sender Server Logo"
            width="30" height="30">
          Sender Server</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="/home">Files List</a>
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true"
              href="#">Features</a>
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true"
              href="#">About</a>
          </div>
        </div>

      </div>
    </nav>

    <form action="/upload" enctype="multipart/form-data" method="POST">

      <div class="md-3">
          <label for="formName" class="form-label">File Name:</label>
          <input class="form-control"  type="text" name="name" id="formName">
      </div>

      <div class="md-3">
          <label for="formFile" class="form-label">Choose File:</label>
          <input class="form-control" type="file" name="file" id="formFile">
      </div>

      <div class="md-3">
          <button type="submit" class="btn btn-primary"> Upload </button>
      </div>

    </form>

    <script src="./Public/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

  </body>
</html>